# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sln
*.suo
*.ipch
*.db
*.ilk
*.pdb
*.obj
*.tlog
*log
*.idb
*.opendb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.vcxproj

*.filters

*.rc

Qt/GuessWho/debug/moc_MainMenu\.cpp

Qt/GuessWho/debug/
